<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Servlet task</title>
</head>
<body>
<div>
    <br>
    <br>
    <h1 align="center">Students app</h1>
</div>
<br>
<div>
    <div>
        <form action="add-servlet" method="get" align="center">
            <button type="submit" name="addStudent" value="Add new student">Add new student</button>
        </form>
        <br>
        <form action="list-servlet" method="get" align="center">
            <button type="submit" name="studentsList" value="List of students">List of students</button>
        </form>
        <br>
        <form action="filter-servlet" method="get" align="center">
            <button type="submit" name="filterPage" value="Filtering the list">Filtering the list</button>
        </form>
    </div>
</div>
</body>
</html>