<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Servlet task</title>
</head>
<body>
<div>
    <h1>Web app!</h1>
</div>

<div>
    <div>
        <form action="add-servlet" method="get">
            <button type="submit" name="addStudent" value="Add new student">Add new student</button>
        </form>
        <form action="list-servlet" method="get">
            <button type="submit" name="studentsList" value="List of students">List of students</button>
        </form>
    </div>
</div>
</body>
</html>