<web-app version="3.1"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>main-servlet</servlet-name>
        <servlet-class>structure.controller.MainPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>main-servlet</servlet-name>
        <url-pattern>/main-servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>add-servlet</servlet-name>
        <servlet-class>structure.controller.AddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>add-servlet</servlet-name>
        <url-pattern>/add-servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>list-servlet</servlet-name>
        <servlet-class>structure.controller.ListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>list-servlet</servlet-name>
        <url-pattern>/list-servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>filter-servlet</servlet-name>
        <servlet-class>structure.controller.FilterPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>filter-servlet</servlet-name>
        <url-pattern>/filter-servlet</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>validation-filter</filter-name>
        <filter-class>structure.controller.ValidationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>validation-filter</filter-name>
        <url-pattern>/add-servlet</url-pattern>
    </filter-mapping>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
</web-app>